<svg:g>
  <foreignObject *ngFor="let wall of walls" [attr.height]="25" [attr.width]="50" [attr.x]="wall.ruler.inputPositionPoint.x"
    [attr.y]="wall.ruler.inputPositionPoint.y" attr.transform="
      rotate(
        {{ wall.ruler.getInputVector(10).angle }},
        {{ wall.ruler.inputPositionPoint.x }},
        {{ wall.ruler.inputPositionPoint.y }}
      )
    ">
    <input *ngIf="wall.isInputMode" #inputAB id="inputAB" type="text" [value]="wall.innerLine.length| number:'1.0-0'"
      (change)="squareRoomService.BC.length=+inputAB.value;">
    <div *ngIf="!wall.isInputMode" class="wall-value">{{wall.innerLine.length| number:'1.0-0'}}</div>
  </foreignObject>
  <path *ngFor="let wall of walls" [attr.d]="wall.ruler.drawRuler(20)" stroke="black" fill="none"></path>
</svg:g>
<!-- <svg>
  <g>
    <path attr.d="{{ squareRoomService.rulerA }}" stroke="black" fill="none"></path>
    <text attr.x="{{ squareRoomService.AB.inputPositionPoint.x }}" attr.y="{{ squareRoomService.AB.inputPositionPoint.y }}"
          attr.transform="rotate({{ squareRoomService.AB.getInputVector(10).angle }}, {{ squareRoomService.AB.inputPositionPoint.x }}, {{ squareRoomService.AB.inputPositionPoint.y }})">
      {{ squareRoomService.AB.length }}
    </text>
    <path attr.d="{{ squareRoomService.rulerB }}" stroke="black" fill="none"></path>
    <text attr.x="{{ squareRoomService.BC.getInputVector(10).point.x }}" attr.y="{{ squareRoomService.BC.getInputVector(10).point.y }}"
          attr.transform="rotate({{ squareRoomService.BC.getInputVector(10).angle }}, {{ squareRoomService.BC.getInputVector(10).point.x }}, {{ squareRoomService.BC.getInputVector(10).point.y }})">
      {{ squareRoomService.BC.length }}
    </text>
    <path attr.d="{{ squareRoomService.rulerC }}" stroke="black" fill="none"></path>
    <text attr.x="{{ squareRoomService.CD.getInputVector(10).point.x }}" attr.y="{{ squareRoomService.CD.getInputVector(10).point.y }}"
          attr.transform="rotate({{ squareRoomService.CD.getInputVector(10).angle }}, {{ squareRoomService.CD.getInputVector(10).point.x }}, {{ squareRoomService.CD.getInputVector(10).point.y }})">
      {{ squareRoomService.CD.length }}
    </text>
    <path attr.d="{{ squareRoomService.rulerD }}" stroke="black" fill="none"></path>
    <text attr.x="{{ squareRoomService.DA.getInputVector(10).point.x }}" attr.y="{{ squareRoomService.DA.getInputVector(10).point.y }}"
          attr.transform="rotate({{ squareRoomService.DA.getInputVector(10).angle }}, {{ squareRoomService.DA.getInputVector(10).point.x }}, {{ squareRoomService.DA.getInputVector(10).point.y }})">
      {{ squareRoomService.DA.length }}
    </text>
  </g>
</svg> -->
