<div id="container" *ngIf="isLoaded">
  <svg [attr.width]="width*10" [attr.height]="height*10" [attr.viewBox]="viewBox"
  #plan
  >
  <polygon
    [attr.points]="moveHelper"
    style="fill:white"
    draggable="true"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp()"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd()"
  />
    <g app-walls [walls]="walls"></g>
    <g app-rulers [walls]="walls" [scale]="scale"></g>
    <g app-angles [walls]="walls"></g>
    <g app-resize [scale]="scale" [upDown]="upDown" [leftRight]="leftRight"></g>
  </svg>
</div>
<div id="panel">
  <button (click)="zoom(0.1)"><mat-icon>add</mat-icon></button>
  <button (click)="zoom(-0.1)"><mat-icon>remove</mat-icon></button>
  <button (click)="moveLeftRight(10)"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <button (click)="moveLeftRight(-10)"><mat-icon>keyboard_arrow_right</mat-icon></button>
  <button (click)="moveUpDown(10)"><mat-icon>keyboard_arrow_up</mat-icon></button>
  <button (click)="moveUpDown(-10)"><mat-icon>keyboard_arrow_down</mat-icon></button>
</div>
